<div class="jumbotron">
    <form class="form" #forgotPass="ngForm" *ngIf="!isLoading; else processing">

        <h1 class="text-capitalize text-center font-weight-bolder">forgot password</h1>

        <div class="form-group">
            <label for="username" class="text-capitalize font-weight-bolder">Username</label>
            <input type="text" class="form-control" id="username" required placeholder="Enter Your Username"
                name="username" [(ngModel)]="operatorName" #username="ngModel">

            <div *ngIf="username.touched && username.invalid">
                <div class="alert alert-danger text-danger" *ngIf="username.errors.required">
                    username is mandatory
                </div>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="operatorType" id="adminOperator" value="admin" checked
                [(ngModel)]="operatorType">
            <label class="form-check-label" for="adminOperator">
                I am an Admin
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="operatorType" id="modOperator" value="moderator"
                [(ngModel)]="operatorType">
            <label class="form-check-label" for="modOperator">
                I am a Moderator
            </label>
        </div>

        <input type="submit" class="btn btn-primary" value="Get Password"
            [disabled]="forgotPass.pristine || forgotPass.invalid" (click)="forgotPassword()">
        &nbsp;

        <input type="reset" class="btn btn-warning" value="Reset">
        &nbsp;

        <input type="button" class="btn btn-danger" value="Cancel" (click)="cancelForgotPassword()">

    </form>

    <ng-template #processing>
        <app-loading></app-loading>
    </ng-template>
</div>