<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./home/">
        <span class="text-uppercase text-primary font-weight-bolder">Recko</span>
        <img src="assets/logo.jpeg" alt="Company Logo" width="40px" height="40px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">

            <a class="nav-item nav-link active text-primary font-weight-bolder text-uppercase mr-auto"
                data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./home/">
                Home
            </a>

            <a class="nav-item nav-link sign-out active font-weight-bolder text-primary text-uppercase mr-auto"
                data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./consumer-list/">
                Consumers
            </a>

            <a class="nav-item nav-link sign-out active font-weight-bolder text-primary text-uppercase mr-auto"
                data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./transaction-list">
                Transactions
            </a>
        </div>

        <div class="navbar-nav ml-auto">
            <a *ngIf="isAuthenticated()"
                class="nav-item nav-link sign-out active text-primary text-uppercase font-weight-bolder ml-auto"
                data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./change-password/">
                Change Password
            </a>

            <a *ngIf="!isAuthenticated()"
                class="nav-item nav-link active text-primary text-uppercase font-weight-bolder ml-auto"
                data-toggle="collapse" data-target=".navbar-collapse.shocw" routerLink="./forgot-password/">
                Forgot Passsword
            </a>

            <a *ngIf="!isAuthenticated()"
                class="nav-item nav-link active text-primary text-uppercase font-weight-bolder ml-auto"
                data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./login/">
                Sign In
            </a>

            <a *ngIf="isAuthenticated()"
                class="nav-item nav-link text-primary text-uppercase font-weight-bolder ml-auto signout"
                data-toggle="collapse" data-target=".navbar-collapse.show" (click)="operatorSignOut()">
                Hi {{authenticatedUser}}, SIGN OUT
            </a>
        </div>
    </div>
</nav>

<div style="margin-top: 30px;">
    <router-outlet></router-outlet>
</div>