<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="./home/">
        <span class="text-uppercase text-primary font-weight-bolder">Recko</span>
        <img src="assets/logo.jpeg" alt="Company Logo" width="40px" height="40px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-uppercase font-weight-bolder" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link mr-auto text-primary" data-toggle="collapse" data-target=".navbar-collapse.show"
                routerLink="./home/">
                Home
            </a>

            <a class="nav-item nav-link mr-auto text-primary" data-toggle="collapse" data-target=".navbar-collapse.show"
                routerLink="./consumer-list/">
                Consumers
            </a>

            <a class="nav-item nav-link mr-auto text-primary" data-toggle="collapse" data-target=".navbar-collapse.show"
                routerLink="./transaction-list">
                Transactions
            </a>

            <li class="nav-item dropdown" *ngIf="!isAuthenticated()">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-primary" routerLink="./company-register/">Register Company</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item text-primary" routerLink="./company-handler-register/">Register Company
                        Handler</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item text-primary" routerLink="./company-credential-register/">Register Company
                        Credential</a>
                </div>
            </li>
        </div>

        <div class="navbar-nav ml-auto">

            <li class="nav-item dropdown" *ngIf="!isAuthenticated()">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarRightDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign In
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarRightDropdown">
                    <a class="dropdown-item text-primary" routerLink="./login/">Login</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item text-primary" routerLink="./forgot-password/">Forgot Password</a>
                </div>
            </li>

            <a *ngIf="isAuthenticated()" class="text-primary nav-item nav-link ml-auto" data-toggle="collapse"
                data-target=".navbar-collapse.show" routerLink="./change-password/">
                Change Password
            </a>

            <a *ngIf="isAuthenticated()" class="text-primary nav-item nav-link ml-auto signout" data-toggle="collapse"
                data-target=".navbar-collapse.show" (click)="operatorSignOut()">
                Hi {{authenticatedUser}}, SIGN OUT
            </a>
        </div>
    </div>
</nav>

<div style="margin-top: 30px;">
    <router-outlet></router-outlet>
</div>