<div class="jumbotron">
    <form class="form" #credRegister="ngForm" *ngIf="!isLoading; else processing">

        <h1 class="text-capitalize text-center font-weight-bolder">register company credential</h1>

        <div class="form-group">
            <label for="cid" class="font-weight-bolder text-capitalzie">Company Identification</label>
            <input type="text" placeholder="Enter Company Identification" required class="form-control" id="cid"
                name="cid" [(ngModel)]="cred.companyId" #cid="ngModel">

            <div *ngIf="cid.touched && cid.invalid">
                <div *ngIf="cid.errors.required" class="alert alert-danger text-capitalize">
                    Company Identification is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cp" class="font-weight-bolder text-capitalzie">Company Password</label>
            <input type="password" placeholder="Enter Company Password" required class="form-control" id="cp" name="cp"
                [(ngModel)]="cred.companyPassword" #cp="ngModel">

            <div *ngIf="cp.touched && cp.invalid">
                <div *ngIf="cp.errors.required" class="alert alert-danger text-capitalize">
                    Company password is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="raid" class="font-weight-bolder text-capitalzie">Remote Account ID</label>
            <input type="text" placeholder="Enter Remote Account ID" required class="form-control" id="raid" name="raid"
                [(ngModel)]="cred.remoteAccountId" #raid="ngModel">

            <div *ngIf="raid.touched && raid.invalid">
                <div *ngIf="raid.errors.required" class="alert alert-danger text-capitalize">
                    Remote Account ID is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ras" class="font-weight-bolder text-capitalzie">Remote Accont Secret</label>
            <input type="text" placeholder="Enter Remote Account Secret" required class="form-control" id="ras"
                name="ras" [(ngModel)]="cred.remoteAccountSecret" #ras="ngModel">

            <div *ngIf="ras.touched && ras.invalid">
                <div *ngIf="ras.errors.required" class="alert alert-danger text-capitalize">
                    Remote Account Secret is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="aid" class="font-weight-bolder text-capitalzie">Tenant/Realm ID</label>
            <input type="text" placeholder="Enter Tenant/Realm ID" required class="form-control" id="aid" name="aid"
                [(ngModel)]="cred.applicationId" #aid="ngModel">

            <div *ngIf="aid.touched && aid.invalid">
                <div *ngIf="aid.errors.required" class="alert alert-danger text-capitalize">
                    This field is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="rt" class="font-weight-bolder text-capitalzie">Refresh Token</label>
            <input type="text" placeholder="Enter Refresh Token" required class="form-control" id="rt" name="rt"
                [(ngModel)]="cred.refreshToken" #rt="ngModel">

            <div *ngIf="rt.touched && rt.invalid">
                <div *ngIf="rt.errors.required" class="alert alert-danger text-capitalize">
                    Refresh Token is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="sc" class="font-weight-bolder text-capitalzie">Application Scope</label>
            <input type="text" placeholder="Enter Application Scope" required class="form-control" id="sc" name="sc"
                [(ngModel)]="cred.scope" #sc="ngModel">

            <div *ngIf="sc.touched && sc.invalid">
                <div *ngIf="sc.errors.required" class="alert alert-danger text-capitalize">
                    Application Scope is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mail" class="font-weight-bolder text-capitalzie">Remote Account Email</label>
            <input type="text" placeholder="Enter Remote Account Email" required class="form-control" id="mail"
                name="mail" [(ngModel)]="cred.email" #mail="ngModel">

            <div *ngIf="mail.touched && mail.invalid">
                <div *ngIf="mail.errors.required" class="alert alert-danger text-capitalize">
                    Email is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="pwd" class="font-weight-bolder text-capitalzie">Remote Account Password</label>
            <input type="password" placeholder="Enter Remote Account Password" required class="form-control" id="pwd"
                name="pwd" [(ngModel)]="cred.password" #pwd="ngModel">

            <div *ngIf="pwd.touched && pwd.invalid">
                <div *ngIf="pwd.errors.required" class="alert alert-danger text-capitalize">
                    Password is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bolder" for="cpartner">Recko Partner</label>
            <select class="form-control" id="cpartner" required name="cpartner" [(ngModel)]="selectedPartner"
                #cpartner="ngModel">
                <option *ngFor="let partner of partners" class="text-capitalize" [value]="partner.name">
                    {{partner.description}}
                </option>
            </select>

            <div *ngIf="cpartner.touched && cpartner.invalid">
                <div class="alert alert-danger text-capitalize" *ngIf="cpartner.errors.required">
                    Recko Partner must be selected
                </div>
            </div>
        </div>

        <input type="submit" value="Register Company Credential" class="btn btn-primary"
            (click)="registerCompanyCredential()" [disabled]="credRegister.invalid">
        &nbsp;
        <input type="button" value="Cancel" class="btn btn-danger" (click)="cancelRegisterCompanyCredential()">
    </form>

    <ng-template #processing>
        <app-loading></app-loading>
    </ng-template>
</div>