<div class="jumbotron">
    <h1 class="display-4 text-capitalize text-center">
        Recko Transaction List
    </h1>

    <hr class="my-4">

    <div class="form-group">
        <label for="partner" class="font-weight-bolder text-capitallize">Choose Recko Partner</label>
        <select class="form-control text-capitalize" id="partner" name="partner" [(ngModel)]="selectedPartner"
            (change)="fetchPartnerTransactions()">
            <option *ngFor="let partner of partners" [value]="partner.name">
                {{partner.description}}
            </option>
        </select>
    </div>

    <form class="form" #transactionForm="ngForm">
        <div class="form-group">
            <label for="nFilter" class="font-weight-bolder text-capitalize">Enter Name</label>
            <input type="text" placeholder="Enter Name to Search" class="form-control" id="nFilter" name="nFilter"
                [(ngModel)]="nameFilter">
        </div>

        <div class="form-group">
            <label for="dFilter" class="font-weight-bolder text-capitalize">Enter Transaction Date</label>
            <input type="date" class="form-control" id="dFilter" name="dFilter" [(ngModel)]="dateFilter">
        </div>

        <input type="submit" class="btn btn-primary" value="Apply Filters" [disabled]="disableSearchFilters()"
            (click)="applySearchFilters()">
        &nbsp;
        <input type="reset" class="btn btn-warning" value="Reset Filters" (click)="resetSearchFilters()">
    </form>

    <table class="table" *ngIf="contentLoaded === 2; else contentLoading">
        <thead>
            <th>Account ID</th>

            <th class="clickable-head" (click)="changeHolderOrder()">
                Payer
                <i *ngIf="holderAscending !== null"
                    [ngClass]="{'bi bi-caret-up-fill' : holderAscending, 'bi bi-caret-down-fill': !holderAscending}">
                </i>
            </th>

            <th class="clickable-head" (click)="changeDateOrder()">
                Date
                <i *ngIf="dateAscending !== null"
                    [ngClass]="{'bi bi-caret-up-fill' : dateAscending, 'bi bi-caret-down-fill': !dateAscending}">
                </i>
            </th>

            <th class="clickable-head" (click)="changeTypeOrder()">
                Payment Type
                <i *ngIf="typeAscending !== null"
                    [ngClass]="{'bi bi-caret-up-fill' : typeAscending, 'bi bi-caret-down-fill': !typeAscending}">
                </i>
            </th>

            <th class="clickable-head" (click)="changeAmountOrder()">
                Payment Amount
                <i *ngIf="amountAscending !== null"
                    [ngClass]="{'bi bi-caret-up-fill' : amountAscending, 'bi bi-caret-down-fill': !amountAscending}">
                </i>
            </th>

            <th>Recko Partner</th>
        </thead>
        <tbody>
            <app-transaction *ngFor="let transaction of transactions | paginate: {
                id: 'transaction-pagination',
                itemsPerPage: itemsPerPage,
                currentPage : currentPage,
                totalItems :  transactions.length}" [tran]="transaction"></app-transaction>
        </tbody>
    </table>

    <div class="text-center" *ngIf="contentLoaded === 2">
        <pagination-controls id="transaction-pagination" [maxSize]="maxPaginationSize" directionLinks="true"
            (pageChange)="currentPage = $event"></pagination-controls>
    </div>

    <ng-template #contentLoading>
        <app-loading></app-loading>
    </ng-template>

</div>